version: "3.8"

services:
    web:
        build: .
        ports:
            - "8000:8000"
        environment:
            PGDATABASE: ${PGDATABASE}
            PGUSER: ${PGUSER}
            PGPASSWORD: ${PGPASSWORD}
            DB_HOST: db
            DB_PORT: 5432
            DEBUG: False
        volumes:
            - .:/code
        env_file:
            - .env
        depends_on:
            - db


    db:
        image: postgres:13
        container_name: postgres_db
        environment:
            PGDATABASE: ${PGDATABASE}
            PGUSER: ${PGUSER}
            PGPASSWORD: ${PGPASSWORD}
            DB_HOST: db
            DB_PORT: 5432
            DEBUG: False
        ports:
        - "8080:5432"
        volumes:
        - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: